{% extends 'base.html.twig' %}

{% block title %}Hello CardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>card game</h1>

            {{ dump(game) }}
        </div>
    </div>
{% endblock %}
